**Importing libraries**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

**Importing necessary files**

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
train.shape,test.shape

((891, 12), (418, 11))

In [4]:
train.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [5]:
test.head()

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]

In [6]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [8]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [9]:
train[['Pclass', 'Survived']].groupby(['Pclass'], as_index=False).mean().sort_values(by='Survived', ascending=False)

   Pclass  Survived
0       1  0.629630
1       2  0.472826
2       3  0.242363

In [10]:
train[["Sex", "Survived"]].groupby(['Sex'], as_index=False).mean().sort_values(by='Survived', ascending=False)

      Sex  Survived
0  female  0.742038
1    male  0.188908

In [11]:
train[["SibSp", "Survived"]].groupby(['SibSp'], as_index=False).mean().sort_values(by='Survived', ascending=False)

   SibSp  Survived
1      1  0.535885
2      2  0.464286
0      0  0.345395
3      3  0.250000
4      4  0.166667
5      5  0.000000
6      8  0.000000

In [12]:
train[["Parch", "Survived"]].groupby(['Parch'], as_index=False).mean().sort_values(by='Survived', ascending=False)

   Parch  Survived
3      3  0.600000
1      1  0.550847
2      2  0.500000
0      0  0.343658
5      5  0.200000
4      4  0.000000
6      6  0.000000

In [13]:
train['Survived'] = train['Survived'].astype('category')

In [14]:
y_train = train['Survived']
train_features = train.drop(['Survived'], axis=1)
df = pd.concat([train_features,test]).reset_index(drop=True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Pclass       1309 non-null   int64
 2   Name         1309 non-null   object
 3   Sex          1309 non-null   object
 4   Age          1046 non-null   float64
 5   SibSp        1309 non-null   int64
 6   Parch        1309 non-null   int64
 7   Ticket       1309 non-null   object
 8   Fare         1308 non-null   float64
 9   Cabin        295 non-null    object
 10  Embarked     1307 non-null   object
dtypes: float64(2), int64(4), object(5)
memory usage: 112.6+ KB

In [16]:
df = df.drop(columns=['PassengerId','Name','Ticket','Cabin'])

In [17]:
df['Age'] = df['Age'].fillna(df['Age'].mean())
df['Fare'] = df['Fare'].fillna(df['Fare'].mean())
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

In [18]:
df.dtypes

Pclass        int64
Sex          object
Age         float64
SibSp         int64
Parch         int64
Fare        float64
Embarked     object
dtype: object

In [19]:
y_train.dtype

CategoricalDtype(categories=[0, 1], ordered=False)

In [20]:
df['Pclass'] = df['Pclass'].astype('category')

In [21]:
df.head()

  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0      3    male  22.0      1      0   7.2500        S
1      1  female  38.0      1      0  71.2833        C
2      3  female  26.0      0      0   7.9250        S
3      1  female  35.0      1      0  53.1000        S
4      3    male  35.0      0      0   8.0500        S

In [22]:
df = pd.get_dummies(df)

In [23]:
df.head()

    Age  SibSp  Parch     Fare  ...  Sex_male  Embarked_C  Embarked_Q  Embarked_S
0  22.0      1      0   7.2500  ...         1           0           0           1
1  38.0      1      0  71.2833  ...         0           1           0           0
2  26.0      0      0   7.9250  ...         0           0           0           1
3  35.0      1      0  53.1000  ...         0           0           0           1
4  35.0      0      0   8.0500  ...         1           0           0           1

[5 rows x 12 columns]

In [24]:
df.shape

(1309, 12)

**Dimensionality Reduction**

In [25]:
df = df.loc[:,~df.columns.duplicated()]
df.shape

(1309, 12)

In [26]:
#Correlation

# Create positive correlation matrix
corr_df = df.corr().abs()

mask = np.triu(np.ones_like(corr_df, dtype=bool))
tri_df = corr_df.mask(mask)

In [27]:
tri_df

                 Age     SibSp     Parch  ...  Embarked_C  Embarked_Q  Embarked_S
Age              NaN       NaN       NaN  ...         NaN         NaN         NaN
SibSp       0.190747       NaN       NaN  ...         NaN         NaN         NaN
Parch       0.130872  0.373587       NaN  ...         NaN         NaN         NaN
Fare        0.171521  0.160224  0.221522  ...         NaN         NaN         NaN
Pclass_1    0.362587  0.034256  0.013033  ...         NaN         NaN         NaN
Pclass_2    0.014193  0.052419  0.010057  ...         NaN         NaN         NaN
Pclass_3    0.302093  0.072610  0.019521  ...         NaN         NaN         NaN
Sex_female  0.057397  0.109609  0.213125  ...         NaN         NaN         NaN
Sex_male    0.057397  0.109609  0.213125  ...         NaN         NaN         NaN
Embarked_C  0.076179  0.048396  0.008635  ...         NaN         NaN         NaN
Embarked_Q  0.012718  0.048678  0.100943  ...    0.164166         NaN         NaN
Embarked_S  0.059153  0.073709  0.071881  ...    0.778262    0.491656         NaN

[12 rows x 12 columns]

In [28]:
to_drop = [c for c in tri_df.columns if any(tri_df[c] > 0.95)]
print(to_drop)

['Sex_female']

In [29]:
df = df.drop(to_drop,axis=1)

In [30]:
df.shape

(1309, 11)

**Standardisation**

In [31]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df = pd.DataFrame(scaler.fit_transform(df),columns=df.columns)

In [32]:
X_train = df.iloc[:len(y_train), :]
X_test = df.iloc[len(y_train):, :]
X_train.shape, y_train.shape, X_test.shape

((891, 11), (891,), (418, 11))

**Modelling**

**Random Forests**

**Hyperparameter Tuning**

Random Search

In [36]:
from sklearn.model_selection import RandomizedSearchCV
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt','log2']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 1000,10)]
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10,14]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2,4,6,8]


# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
              'criterion':['entropy','gini']}

print(random_grid)

{'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000], 'max_features': ['auto', 'sqrt', 'log2'], 'max_depth': [10, 120, 230, 340, 450, 560, 670, 780, 890, 1000], 'min_samples_split': [2, 5, 10, 14], 'min_samples_leaf': [1, 2, 4, 6, 8], 'criterion': ['entropy', 'gini']}

In [37]:
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid,
                               n_iter = 100, cv = 5, verbose=2, random_state=42,
                               n_jobs = -1)

In [38]:
#Fit the object to our data
rf_random.fit(X_train, y_train)

Fitting 5 folds for each of 100 candidates, totalling 500 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:   33.4s
[Parallel(n_jobs=-1)]: Done 158 tasks      | elapsed:  3.8min
[Parallel(n_jobs=-1)]: Done 361 tasks      | elapsed:  9.5min
[Parallel(n_jobs=-1)]: Done 500 out of 500 | elapsed: 13.4min finished

RandomizedSearchCV(cv=5, error_score=nan,
                   estimator=RandomForestClassifier(bootstrap=True,
                                                    ccp_alpha=0.0,
                                                    class_weight=None,
                                                    criterion='gini',
                                                    max_depth=15,
                                                    max_features='sqrt',
                                                    max_leaf_nodes=None,
                                                    max_samples=None,
                                                    min_impurity_decrease=0.0,
                                                    min_impurity_split=None,
                                                    min_samples_leaf=1,
                                                    min_samples_split=7,
                                                    min_weight_fraction_leaf=0.0,
                                                    n_estimators=400,
                                                    n_jobs=N...
                   param_distributions={'criterion': ['entropy', 'gini'],
                                        'max_depth': [10, 120, 230, 340, 450,
                                                      560, 670, 780, 890,
                                                      1000],
                                        'max_features': ['auto', 'sqrt',
                                                         'log2'],
                                        'min_samples_leaf': [1, 2, 4, 6, 8],
                                        'min_samples_split': [2, 5, 10, 14],
                                        'n_estimators': [200, 400, 600, 800,
                                                         1000, 1200, 1400, 1600,
                                                         1800, 2000]},
                   pre_dispatch='2*n_jobs', random_state=42, refit=True,
                   return_train_score=False, scoring=None, verbose=2)

In [39]:
print(rf_random.best_estimator_)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=890, max_features='sqrt',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=5,
                       min_weight_fraction_leaf=0.0, n_estimators=1400,
                       n_jobs=None, oob_score=False, random_state=100,
                       verbose=0, warm_start=False)

Grid search

In [42]:
from sklearn.model_selection import GridSearchCV

param_grid = {
    'criterion': [rf_random.best_params_['criterion']],
    'max_depth': [rf_random.best_params_['max_depth']],
    'max_features': [rf_random.best_params_['max_features']],
    'min_samples_leaf': [rf_random.best_params_['min_samples_leaf'], 
                         rf_random.best_params_['min_samples_leaf']+2, 
                         rf_random.best_params_['min_samples_leaf'] + 4],
    'min_samples_split': [rf_random.best_params_['min_samples_split'] - 2,
                          rf_random.best_params_['min_samples_split'] - 1,
                          rf_random.best_params_['min_samples_split'], 
                          rf_random.best_params_['min_samples_split'] +1,
                          rf_random.best_params_['min_samples_split'] + 2],
    'n_estimators': [rf_random.best_params_['n_estimators'] - 200, rf_random.best_params_['n_estimators'] - 100, 
                     rf_random.best_params_['n_estimators'], 
                     rf_random.best_params_['n_estimators'] + 100, rf_random.best_params_['n_estimators'] + 200]
}
print(param_grid)

{'criterion': ['gini'], 'max_depth': [890], 'max_features': ['sqrt'], 'min_samples_leaf': [1, 3, 5], 'min_samples_split': [3, 4, 5, 6, 7], 'n_estimators': [1200, 1300, 1400, 1500, 1600]}

In [43]:
grid_search=GridSearchCV(estimator=rf,param_grid=param_grid,cv=10,n_jobs=-1,verbose=2)
grid_search.fit(X_train,y_train)

Fitting 10 folds for each of 75 candidates, totalling 750 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:  1.3min
[Parallel(n_jobs=-1)]: Done 158 tasks      | elapsed:  5.4min
[Parallel(n_jobs=-1)]: Done 361 tasks      | elapsed: 12.2min
[Parallel(n_jobs=-1)]: Done 644 tasks      | elapsed: 21.4min
[Parallel(n_jobs=-1)]: Done 750 out of 750 | elapsed: 24.9min finished

GridSearchCV(cv=10, error_score=nan,
             estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                              class_weight=None,
                                              criterion='gini', max_depth=15,
                                              max_features='sqrt',
                                              max_leaf_nodes=None,
                                              max_samples=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=7,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=400, n_jobs=None,
                                              oob_score=False, random_state=100,
                                              verbose=0, warm_start=False),
             iid='deprecated', n_jobs=-1,
             param_grid={'criterion': ['gini'], 'max_depth': [890],
                         'max_features': ['sqrt'],
                         'min_samples_leaf': [1, 3, 5],
                         'min_samples_split': [3, 4, 5, 6, 7],
                         'n_estimators': [1200, 1300, 1400, 1500, 1600]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=2)

In [45]:
print(grid_search.best_estimator_)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=890, max_features='sqrt',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=7,
                       min_weight_fraction_leaf=0.0, n_estimators=1200,
                       n_jobs=None, oob_score=False, random_state=100,
                       verbose=0, warm_start=False)

Random Forests

In [46]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=890, max_features='sqrt',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=7,
                       min_weight_fraction_leaf=0.0, n_estimators=1200,
                       n_jobs=None, oob_score=False, random_state=100,
                       verbose=0, warm_start=False)

In [47]:
rf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=890, max_features='sqrt',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=7,
                       min_weight_fraction_leaf=0.0, n_estimators=1200,
                       n_jobs=None, oob_score=False, random_state=100,
                       verbose=0, warm_start=False)

In [49]:
y_pred = rf.predict(X_test)

In [51]:
from sklearn.model_selection import cross_val_score
cv_scores = cross_val_score(rf, X_train, y_train, cv=5,scoring='roc_auc')

In [52]:
print(cv_scores)

[0.84097497 0.8157754  0.90902406 0.87733957 0.91556974]

In [53]:
print(cv_scores.mean())

0.871736748512365

**XGBoost**

Hyperparameter tuning

Randomcv

In [54]:
base_score=[0.25,0.50,0.75,1]
n_estimators = [30,50,80,90]
max_depth = [ 3, 4, 5, 6, 8, 10, 12, 15]
booster=['gbtree','gblinear','dart']
learning_rate=[0.05, 0.10, 0.15, 0.20, 0.25, 0.30 ]
min_child_weight=[ 1, 3, 5, 7 ]
gamma = [ 0.0, 0.1, 0.2 , 0.3, 0.4 ]
colsample_bytree = [ 0.3, 0.4, 0.5 , 0.7 ]
subsample= [0.6, 0.8, 1.0]

In [55]:
hyperparameter_grid = {
    'n_estimators': n_estimators,
    'max_depth':max_depth,
    'learning_rate':learning_rate,
    'min_child_weight':min_child_weight,
    'booster':booster,
    'base_score':base_score,
    'gamma' :gamma,
    "colsample_bytree" : colsample_bytree,
    'subsample': subsample
    }

In [57]:
from sklearn.model_selection import RandomizedSearchCV

random_cv = RandomizedSearchCV(estimator=xg_cl,
            param_distributions=hyperparameter_grid,
            cv=5, n_iter=100,
            scoring = 'roc_auc',n_jobs = 8,
            verbose = 5, 
            return_train_score = True,
            random_state=42)

In [ ]:
random_cv.fit(X_train,y_train)

In [67]:
random_cv.best_estimator_

XGBClassifier(base_score=0.75, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.5, gamma=0.0,
              learning_rate=0.3, max_delta_step=0, max_depth=8,
              min_child_weight=3, missing=None, n_estimators=50, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=123,
              silent=None, subsample=0.8, verbosity=1)

Gridcv

In [71]:
from sklearn.model_selection import GridSearchCV

param_grid = {
    'base_score' :[0.65,0.70,0.75,0.80,0.85],
    'n_estimators' : [40,45,50,55,60],
    'max_depth' : [8,9,10],
    'booster' : ['gbtree','gblinear','dart'],
    'learning_rate' :[0.30,0.4,0.5,0.6],
    'min_child_weight' :[ 2, 3, 4],
    'gamma' : [ 0.0,0.02, 0.05 ],
    'colsample_bytree' : [0.45, 0.5 , 0.6 ],
    'subsample': [0.7, 0.8, 0.9]
}

print(param_grid)

{'base_score': [0.65, 0.7, 0.75, 0.8, 0.85], 'n_estimators': [40, 45, 50, 55, 60], 'max_depth': [8, 9, 10], 'booster': ['gbtree', 'gblinear', 'dart'], 'learning_rate': [0.3, 0.4, 0.5, 0.6], 'min_child_weight': [2, 3, 4], 'gamma': [0.0, 0.02, 0.05], 'colsample_bytree': [0.45, 0.5, 0.6], 'subsample': [0.7, 0.8, 0.9]}

In [74]:
grid_search=GridSearchCV(estimator=xg_cl,param_grid=param_grid,cv=5,n_jobs=-1,verbose=2)
grid_search.fit(X_train,y_train)

Fitting 5 folds for each of 72900 candidates, totalling 364500 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  86 tasks      | elapsed:    3.6s
[Parallel(n_jobs=-1)]: Done 570 tasks      | elapsed:   17.1s
[Parallel(n_jobs=-1)]: Done 1382 tasks      | elapsed:   39.9s
[Parallel(n_jobs=-1)]: Done 2514 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done 3974 tasks      | elapsed:  1.9min
[Parallel(n_jobs=-1)]: Done 5754 tasks      | elapsed:  2.7min
[Parallel(n_jobs=-1)]: Done 7862 tasks      | elapsed:  3.7min
[Parallel(n_jobs=-1)]: Done 10290 tasks      | elapsed:  4.9min
[Parallel(n_jobs=-1)]: Done 13046 tasks      | elapsed:  6.3min
[Parallel(n_jobs=-1)]: Done 16122 tasks      | elapsed:  7.9min
[Parallel(n_jobs=-1)]: Done 19526 tasks      | elapsed:  9.7min
[Parallel(n_jobs=-1)]: Done 23250 tasks      | elapsed: 11.8min
[Parallel(n_jobs=-1)]: Done 27302 tasks      | elapsed: 13.1min
[Parallel(n_jobs=-1)]: Done 31674 tasks      | elapsed: 14.2min
[Parallel(n_jobs=-1)]: Done 36374 tasks      | elapsed: 15.4min
[Parallel(n_jobs=-1)]: Done 41394 tasks      | elapsed: 16.6min
[Parallel(n_jobs=-1)]: Done 46742 tasks      | elapsed: 17.9min
[Parallel(n_jobs=-1)]: Done 52410 tasks      | elapsed: 22.1min
[Parallel(n_jobs=-1)]: Done 58406 tasks      | elapsed: 28.1min
[Parallel(n_jobs=-1)]: Done 64722 tasks      | elapsed: 34.8min
[Parallel(n_jobs=-1)]: Done 71366 tasks      | elapsed: 42.3min
[Parallel(n_jobs=-1)]: Done 78330 tasks      | elapsed: 46.5min
[Parallel(n_jobs=-1)]: Done 85622 tasks      | elapsed: 50.1min
[Parallel(n_jobs=-1)]: Done 93234 tasks      | elapsed: 54.1min
[Parallel(n_jobs=-1)]: Done 101174 tasks      | elapsed: 57.2min

Fitting 5 folds for each of 72900 candidates, totalling 364500 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  86 tasks      | elapsed:    3.6s
[Parallel(n_jobs=-1)]: Done 570 tasks      | elapsed:   17.1s
[Parallel(n_jobs=-1)]: Done 1382 tasks      | elapsed:   39.9s
[Parallel(n_jobs=-1)]: Done 2514 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done 3974 tasks      | elapsed:  1.9min
[Parallel(n_jobs=-1)]: Done 5754 tasks      | elapsed:  2.7min
[Parallel(n_jobs=-1)]: Done 7862 tasks      | elapsed:  3.7min
[Parallel(n_jobs=-1)]: Done 10290 tasks      | elapsed:  4.9min
[Parallel(n_jobs=-1)]: Done 13046 tasks      | elapsed:  6.3min
[Parallel(n_jobs=-1)]: Done 16122 tasks      | elapsed:  7.9min
[Parallel(n_jobs=-1)]: Done 19526 tasks      | elapsed:  9.7min
[Parallel(n_jobs=-1)]: Done 23250 tasks      | elapsed: 11.8min
[Parallel(n_jobs=-1)]: Done 27302 tasks      | elapsed: 13.1min
[Parallel(n_jobs=-1)]: Done 31674 tasks      | elapsed: 14.2min
[Parallel(n_jobs=-1)]: Done 36374 tasks      | elapsed: 15.4min
[Parallel(n_jobs=-1)]: Done 41394 tasks      | elapsed: 16.6min
[Parallel(n_jobs=-1)]: Done 46742 tasks      | elapsed: 17.9min
[Parallel(n_jobs=-1)]: Done 52410 tasks      | elapsed: 22.1min
[Parallel(n_jobs=-1)]: Done 58406 tasks      | elapsed: 28.1min
[Parallel(n_jobs=-1)]: Done 64722 tasks      | elapsed: 34.8min
[Parallel(n_jobs=-1)]: Done 71366 tasks      | elapsed: 42.3min
[Parallel(n_jobs=-1)]: Done 78330 tasks      | elapsed: 46.5min
[Parallel(n_jobs=-1)]: Done 85622 tasks      | elapsed: 50.1min
[Parallel(n_jobs=-1)]: Done 93234 tasks      | elapsed: 54.1min
[Parallel(n_jobs=-1)]: Done 101174 tasks      | elapsed: 57.2min
[Parallel(n_jobs=-1)]: Done 109434 tasks      | elapsed: 59.3min
[Parallel(n_jobs=-1)]: Done 109434 tasks      | elapsed: 59.3min
[Parallel(n_jobs=-1)]: Done 118022 tasks      | elapsed: 61.4min
[Parallel(n_jobs=-1)]: Done 118022 tasks      | elapsed: 61.4min
[Parallel(n_jobs=-1)]: Done 126930 tasks      | elapsed: 67.6min
[Parallel(n_jobs=-1)]: Done 126930 tasks      | elapsed: 67.6min
[Parallel(n_jobs=-1)]: Done 136166 tasks      | elapsed: 77.1min
[Parallel(n_jobs=-1)]: Done 136166 tasks      | elapsed: 77.1min
[Parallel(n_jobs=-1)]: Done 145722 tasks      | elapsed: 87.8min
[Parallel(n_jobs=-1)]: Done 145722 tasks      | elapsed: 87.8min
[Parallel(n_jobs=-1)]: Done 155606 tasks      | elapsed: 92.6min
[Parallel(n_jobs=-1)]: Done 155606 tasks      | elapsed: 92.6min
[Parallel(n_jobs=-1)]: Done 165810 tasks      | elapsed: 98.0min
[Parallel(n_jobs=-1)]: Done 165810 tasks      | elapsed: 98.0min
[Parallel(n_jobs=-1)]: Done 176342 tasks      | elapsed: 101.9min
[Parallel(n_jobs=-1)]: Done 176342 tasks      | elapsed: 101.9min
[Parallel(n_jobs=-1)]: Done 187194 tasks      | elapsed: 104.6min
[Parallel(n_jobs=-1)]: Done 187194 tasks      | elapsed: 104.6min
[Parallel(n_jobs=-1)]: Done 198374 tasks      | elapsed: 110.2min
[Parallel(n_jobs=-1)]: Done 198374 tasks      | elapsed: 110.2min
[Parallel(n_jobs=-1)]: Done 209874 tasks      | elapsed: 122.0min
[Parallel(n_jobs=-1)]: Done 209874 tasks      | elapsed: 122.0min
[Parallel(n_jobs=-1)]: Done 221702 tasks      | elapsed: 133.2min
[Parallel(n_jobs=-1)]: Done 221702 tasks      | elapsed: 133.2min
[Parallel(n_jobs=-1)]: Done 233850 tasks      | elapsed: 139.2min
[Parallel(n_jobs=-1)]: Done 233850 tasks      | elapsed: 139.2min
[Parallel(n_jobs=-1)]: Done 246326 tasks      | elapsed: 144.9min
[Parallel(n_jobs=-1)]: Done 246326 tasks      | elapsed: 144.9min
[Parallel(n_jobs=-1)]: Done 259122 tasks      | elapsed: 148.1min
[Parallel(n_jobs=-1)]: Done 259122 tasks      | elapsed: 148.1min
[Parallel(n_jobs=-1)]: Done 272246 tasks      | elapsed: 154.9min
[Parallel(n_jobs=-1)]: Done 272246 tasks      | elapsed: 154.9min
[Parallel(n_jobs=-1)]: Done 285690 tasks      | elapsed: 168.9min
[Parallel(n_jobs=-1)]: Done 285690 tasks      | elapsed: 168.9min
[Parallel(n_jobs=-1)]: Done 299462 tasks      | elapsed: 179.3min
[Parallel(n_jobs=-1)]: Done 299462 tasks      | elapsed: 179.3min
[Parallel(n_jobs=-1)]: Done 313554 tasks      | elapsed: 186.6min
[Parallel(n_jobs=-1)]: Done 313554 tasks      | elapsed: 186.6min
[Parallel(n_jobs=-1)]: Done 327974 tasks      | elapsed: 191.0min
[Parallel(n_jobs=-1)]: Done 327974 tasks      | elapsed: 191.0min
[Parallel(n_jobs=-1)]: Done 342714 tasks      | elapsed: 196.6min
[Parallel(n_jobs=-1)]: Done 342714 tasks      | elapsed: 196.6min
[Parallel(n_jobs=-1)]: Done 357782 tasks      | elapsed: 212.1min
[Parallel(n_jobs=-1)]: Done 357782 tasks      | elapsed: 212.1min
[Parallel(n_jobs=-1)]: Done 364500 out of 364500 | elapsed: 219.6min finished
[Parallel(n_jobs=-1)]: Done 364500 out of 364500 | elapsed: 219.6min finished

GridSearchCV(cv=5, error_score=nan,
             estimator=XGBClassifier(base_score=0.75, booster='gbtree',
                                     colsample_bylevel=1, colsample_bynode=1,
                                     colsample_bytree=0.5, gamma=0.0,
                                     learning_rate=0.3, max_delta_step=0,
                                     max_depth=8, min_child_weight=3,
                                     missing=None, n_estimators=50, n_jobs=1,
                                     nthread=None, objective='binary:logistic',
                                     random_state=0, reg_alpha=0, reg_lambda=1,
                                     scal...
             param_grid={'base_score': [0.65, 0.7, 0.75, 0.8, 0.85],
                         'booster': ['gbtree', 'gblinear', 'dart'],
                         'colsample_bytree': [0.45, 0.5, 0.6],
                         'gamma': [0.0, 0.02, 0.05],
                         'learning_rate': [0.3, 0.4, 0.5, 0.6],
                         'max_depth': [8, 9, 10], 'min_child_weight': [2, 3, 4],
                         'n_estimators': [40, 45, 50, 55, 60],
                         'subsample': [0.7, 0.8, 0.9]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=2)

GridSearchCV(cv=5, error_score=nan,
             estimator=XGBClassifier(base_score=0.75, booster='gbtree',
                                     colsample_bylevel=1, colsample_bynode=1,
                                     colsample_bytree=0.5, gamma=0.0,
                                     learning_rate=0.3, max_delta_step=0,
                                     max_depth=8, min_child_weight=3,
                                     missing=None, n_estimators=50, n_jobs=1,
                                     nthread=None, objective='binary:logistic',
                                     random_state=0, reg_alpha=0, reg_lambda=1,
                                     scal...
             param_grid={'base_score': [0.65, 0.7, 0.75, 0.8, 0.85],
                         'booster': ['gbtree', 'gblinear', 'dart'],
                         'colsample_bytree': [0.45, 0.5, 0.6],
                         'gamma': [0.0, 0.02, 0.05],
                         'learning_rate': [0.3, 0.4, 0.5, 0.6],
                         'max_depth': [8, 9, 10], 'min_child_weight': [2, 3, 4],
                         'n_estimators': [40, 45, 50, 55, 60],
                         'subsample': [0.7, 0.8, 0.9]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=2)

In [76]:
print(grid_search.best_estimator_)

XGBClassifier(base_score=0.65, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.6, gamma=0.0,
              learning_rate=0.4, max_delta_step=0, max_depth=10,
              min_child_weight=3, missing=None, n_estimators=50, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=123,
              silent=None, subsample=0.8, verbosity=1)

In [77]:
import xgboost as xgb
xg_cl = xgb.XGBClassifier(base_score=0.65, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.6, gamma=0.0,
              learning_rate=0.4, max_delta_step=0, max_depth=10,
              min_child_weight=3, missing=None, n_estimators=50, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=123,
              silent=None, subsample=0.8, verbosity=1)

In [78]:
xg_cl.fit(X_train, y_train)

XGBClassifier(base_score=0.65, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.6, gamma=0.0,
              learning_rate=0.4, max_delta_step=0, max_depth=10,
              min_child_weight=3, missing=None, n_estimators=50, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=123,
              silent=None, subsample=0.8, verbosity=1)

In [79]:
y_pred = xg_cl.predict(X_test)

In [80]:
from sklearn.model_selection import cross_val_score
cv_scores = cross_val_score(xg_cl, X_train, y_train, cv=10,scoring='roc_auc')

In [81]:
print(cv_scores)

[0.77922078 0.89197861 0.74037433 0.90882353 0.92459893 0.8684492
 0.88181818 0.8513369  0.93368984 0.88783069]

In [82]:
print(cv_scores.mean())

0.8668120985768045

**Preparing submission file**

In [84]:
pred = pd.DataFrame(y_pred)
sub_df = pd.read_csv('gender_submission.csv')
result = pd.concat([sub_df['PassengerId'],pred],axis=1)
result.columns = ['PassengerId','Survived']
result.to_csv('submission.csv',index=False)

hyperparameter tuning has actualy reduced the accuracy of the XGBoost model.(try with default parameters snd n_estimators = 10)

make use of 'Name' column